build/
devel/
install/
logs/
log/
PCD/
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
.DS_Store
.vscode/
**/build/
**/devel/
**/__pycache__/

src/semantic_LIO_SAM/semantic_LIO_SAM/build/
src/semantic_LIO_SAM/semantic_LIO_SAM/devel/
src/semantic_LIO_SAM/semantic_LIO_SAM/Log/*.txt
src/semantic_LIO_SAM/semantic_LIO_SAM/Log/*.csv

.codex
.codex/
.catkin_workspace
